<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">age</th>
        <th scope="col">gender</th>
        <th scope="col">avatar</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let SV of users">
        <td scope="row">{{SV.id}}</td>
        <td><app-table-name [name]="SV.name"></app-table-name></td>
        <td>{{SV.age}}</td>
        <td>
          <app-table-gender [gender]="SV.gender"></app-table-gender>
        </td>
        <td><app-table-avatar [avatar]="SV.avatar" [age]="SV.age" ></app-table-avatar> </td>
        <td>
          <app-table-status [status]="SV.status"></app-table-status>
        </td>
      </tr>
    </tbody>
  </table>
