<div>
    <a routerLink="/admin/products/create"><button class="btn btn-primary">create</button></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Stt</th>
            <th>tên</th>
            <th>giá</th>
            <th>mô tả</th>
            <th>image</th>
            <th>category</th>
            <th>status</th>
            <th colspan="2">chỉnh sửa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product._id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td *>{{product.category}}</td>
            <td>{{product.desc}}</td>
            <td><img src="{{product.image}}" style="width: 100px;" alt=""></td>
            <td>
                <button class="btn btn-primary" *ngIf="product.status === 1" (click)="onUpdateStatus(product._id, 0)">ON</button>
                <button class="btn btn-primary" *ngIf="product.status === 0" (click)="onUpdateStatus(product._id, 1)">OFF</button>
            </td>
            <td><a [routerLink]="['/admin','products', product._id]"><button class="btn btn-primary">details</button></a> </td>
            <td><a [routerLink]="['/admin','products','edit', product._id]"><button class="btn btn-primary">sửa</button></a></td>
            <td><button class="btn btn-primary" (click)="onDelete(product._id)">xóa</button></td>
        </tr>
    </tbody>
</table>