<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name">
        <app-form-validate [field]="productForm.get('name')" key="Tên sản phẩm"></app-form-validate>
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input type="number" class="form-control" formControlName="price">
        <app-form-validate [field]="productForm.get('price')" key="giá sản phẩm"></app-form-validate>
    </div>
    <div class="form-group">
        <label for="">mô tả</label>
        <input type="text" class="form-control" formControlName="desc">
        <app-form-validate [field]="productForm.get('desc')" key="giá sản phẩm"></app-form-validate>
    </div>
    
    <div class="form-group">
        <label for="">image</label>
        <input type="file" class="form-control" (input)="handleImage($event)">
        <app-form-validate [field]="productForm.get('image')" key="giá sản phẩm"></app-form-validate>
    </div>
    <div class="form-group">
        <img src="{{reviewSource}}" style="width: 150px; " alt="">
    </div>
    <div class="form-group">
        <select name="" id="" formControlName="category">
            <option value="{{category._id}}" *ngFor="let category of categories">{{category.name}}</option>
        </select>
    </div>
    <div>
        <button class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
    </div>
</form>